@model List<MyMovies.Data.Movie>

@{
    ViewBag.Title = "Movie List";
}

<h2>My Movies List</h2>

@Html.ActionLink("Add Movie", "Create", "Movie", new { @class = "btn btn-success" })

<table class="table table-hover table-bordered" style="width:100%">

    <thead>
        <tr>
            <td style="width:14%">Id</td>
            <td style="width:14%">Name</td>
            <td style="width:14%">Release Date</td>
            <td style="width:14%">Category</td>
            <td style="width:14%">Movie Language</td>
            <td style="width:14%">Number In Stock</td>
            <td style="width:16%"></td>
        </tr>
    </thead>

    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@movie.MovieID</td>
                <td>@movie.Name</td>
                <td>@movie.ReleaseDate</td>
                <td>@movie.Category</td>
                <td>@movie.Language</td>
                <td>@movie.NumbeInStock</td>

                <td>

                    @Html.ActionLink("Edit Movie", "Edit", "Movie", new { id = movie.MovieID }, new { @class = "btn btn-primary" })

                    @Html.ActionLink("Delete Movie", "Delete", "Movie", new { id = movie.MovieID }, new { @class = "btn btn-danger" })

                </td>

            </tr>
        }
    </tbody>

</table>